﻿
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 50px;
    text-align: center;
}

.footer {
    background-color: #808080;
    color: #fff;
    padding: 10px 0;
    padding-top: 20px;
    text-align: center;
}



.centered-text {
    text-align: center;
}


.titulo{

    text-align: left;
    margin-left: 20px; 
}


.derecha{
    text-align: right;
}


.containerr {
    border: 2px solid #000; 
    padding: 20px; 
}

.form-container {
    padding: 20px;
}


.card {
    border: 2px solid #000;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #e9e0e0; 
    margin: 0 auto 10px;
}
